@import url(//db.onlinewebfonts.com/c/55d433372d270829c51e2577a78ef12d?family=Monument+Extended);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monument Extended";
}

body {
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.projects {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project_img {
  max-width: 775px;
  width: 100%;
  height: 160px;
  display: block;
  cursor: pointer;
}

.project_img--large {
  pointer-events: none;
  position: fixed;
  opacity: 0;
}

.project_title {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 1.25rem 0;
  line-height: 1;
  color: white;
  display: flex;
  flex-direction: row;
}

.fullview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  padding: 2rem;
  z-index: 3;
  grid-template-columns: 100%;
  pointer-events: none;
}

.fullview__item {
  pointer-events: none;
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 50% 50%;
}

.fullview__item--current {
  pointer-events: auto;
}

.fullview__item-title {
  margin: 0 0 0 0.25rem;
  line-height: 1;
  font-size: 4rem;
  font-weight: 400;
  opacity: 0;
  align-self: end;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fullview__close {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1000;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  color: #fff;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
}

.fullview__item--current ~ .fullview__close {
  pointer-events: auto;
}

.fullview__close:focus {
  outline: none;
}

.fullview__close svg {
  fill: currentColor;
}

@media screen and (min-width: 53em) {
  .message {
    display: none;
  }
  .frame {
    text-align: left;
    display: grid;
    align-content: space-between;
    width: 100%;
    max-width: none;
    padding: 2rem 3rem;
    grid-template-columns: 60% 40%;
    grid-template-areas: "title demos";
  }
  .frame__title-wrap {
    grid-area: title;
    display: flex;
  }
  .frame__title {
    margin: 0 5vw 0 0;
  }
  .frame__demos {
    margin: 0;
    grid-area: demos;
    justify-self: end;
  }
  .content {
    height: 100vh;
    justify-content: center;
  }
  .grid {
    display: grid;
    grid-template-columns: 31% 36% 33%;
    width: 100%;
    max-width: 1200px;
    margin: 10vh auto 0;
    padding: 0;
  }
  .grid__item {
    padding: 0 4.5vw;
  }
  .grid__item:first-child {
    padding-top: 35%;
  }
  .grid__item:nth-child(3) {
    padding-top: 40%;
  }
}
